
@media screen and (max-width: 500px) {

/*Image group*/

  h1{
    font-size: 17px;
    margin: 0px !important;
  }
  h2{
    font-size: 16px;
    margin: 0px !important;
  }
  h3{
    font-size: 15px;
    margin: 0px !important;
  }
  h5{
    font-size: 13px;
    margin: 0px !important;
  }
  p{
    font-size: 12px;
    margin: 0px !important;
  }


}


/*@font-face {
  font-family: PingFangMedium;
  src: url(../fonts/PingFangMedium);
}

@font-face {
  font-family: PingFangRegular;
  src: url(../fonts/PingFangRegular);
}*/

/*NavBar*/
#nav-bar{
	position: sticky!important;
	top: 0;
	z-index: 9999;
  padding-bottom: 65px;
}

.navbar-brand img{
	height: 40px;
	padding-left: 30px;
}

.navbar-nav li{
	padding: 0 10px;
}

.navbar-nav li a{
	text-align: left;
}

#nav-bar ul li a:hover{
	color: #007bff!important;
}

.navbar{
	background: #fff;
}

.navbar-toggler{
	border: none!important;
}

body, html{
  margin:0;
  font-size: 16px;
  color:#3D3D3D;
  font-family: PingFangRegular;
}

/*.nav-link, .dropdown-item{
	color: #555!important;
	font-weight: 600;
	font-size: 14px;
}*/

.dropdown-menu{
  margin: -2px;
  width: auto !important;
}


.image-background{
  position: relative;
}


.image-up-left{
  top: 30%;
  left: 30%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.image-center{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.image-left-center{
  top: 50%;
  left: 40%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.image-center-low{
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.border-white{
  border-color: white;
  border-style: solid;
}

/*Footer*/

#wrap{
  margin: 25px 0;
    height: 2px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#3D3D3D), to(#3D3D3D), color-stop(50%, white));
}

/*pading*/
.pt-6{
  padding-top: 6px;
}
.pt-10{
  padding-top: 10px;
}
.pt-20{
  padding-top: 20px;
}
.pt-30{
  padding-top: 30px;
}
.pt-40{
  padding-top: 40px;
}
.pt-50{
  padding-top: 50px;
}
.pt-60{
  padding-top: 60px;
}
.pt-70{
  padding-top: 70px;
}
.pt-80{
  padding-top: 80px;
}
.pt-90{
  padding-top: 90px;
}
.pt-100{
  padding-top: 100px;
}


.p-6{
  padding: 6px;
}
.p-10{
  padding: 10px;
}
.p-20{
  padding: 20px;
}
.p-30{
  padding: 30px;
}
.p-40{
  padding: 40px;
}
.p-50{
  padding: 50px;
}
.p-60{
  padding: 60px;
}
.p-70{
  padding: 70px;
}
.p-80{
  padding: 80px;
}
.p-90{
  padding: 90px;
}
.p-100{
  padding: 100px;
}


/*extra large font*/

.box{
    padding: 20px;
    border: 0.5px solid #ddd;
    border-radius: 5px;
}

/*color*/
.color-brown{
  color: #F3C863!important;
}

.color-grey{
  color: #555!important;
}

.color-white{
  color: #fff!important;
}

.color-dark{
  color: #000!important;
}

.color-blue{
  color:#007bff!important;
}

.color-red{
  color: #b40101!important;
}

.text-decoration-none{
  text-decoration: none;
}

.shadow-white{
  text-shadow: 2px 2px 2px rgba(255,255,255, 0.3);  
}
.shadow-black{
  text-shadow: 2px 2px 2px rgba(0,0,0, 0.3);
}

/*message*/
.background-primary{
  background-color: rgba(0,150,255,1);
}
.background-op-008-primary{
  background-color: rgba(0,150,255,0.08);
}

.background-danger{
  background-color: rgba(255,0,0,1);
}
.background-op-008-danger{
  background-color: rgba(255,0,0,0.08);
}


@media screen and (min-width: 768px) {
  
.dropdown:hover>.dropdown-menu {
  display: block;
}







/* padding */
.pt-lg-60{
  padding-top: 60px;
}


.p-lg-80{
  padding: 80px;
}
.p-lg-100{
  padding: 100px;
}

}

/* Modal */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}



/*footer*/
.font-bold:hover{
  font-size: 101%;
  text-decoration: none;
  opacity: 70%;
}

