
.section-1{
	position: relative;
}

.frame-para{
	position: absolute;
	top:40px;
	left:40px;
}

.grad-div{
	width:1000px;
    background-image:url(../images/front-end/diamond/search/grad.png);
	background-repeat-x: repeat;
	background-size:100%;
	padding:20px 10px 20px 50px;
	font-size:24px;
	color:#fff;
	margin-top:20px;
}
