
@media screen and (max-width: 768px) {

/*Image group*/

  images-g*{
      margin: 0px;
      padding: 0px;
      font-family: 'Roboto', sans-serif;
  }

  h1{
    font-size: 25px;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 17px;
  }
  h5{
    font-size: 10px;
  }
  .images-g .caption h1{
    margin: 0px;
    font-size: 30px;

  }
  .images-g .caption p{
   
    font-size:16px;
  }

  .img-opa-50 img:hover {
       opacity: 0.5; 
  }



}



@media screen and (max-width: 500px) {

/*Image group*/

  h1{
    font-size: 17px;
    margin: 0px !important;
  }
  h2{
    font-size: 16px;
    margin: 0px !important;
  }
  h3{
    font-size: 15px;
    margin: 0px !important;
  }
  h5{
    font-size: 13px;
    margin: 0px !important;
  }
  p{
    font-size: 12px;
    margin: 0px !important;
  }


}



/*Slider*/

#slider{
  width: 100%;
}





/*Image group*/

/* last image in group */
.images-g{
    position: relative;
}

.images-g{
    margin-top: 15px;
}


.mylead{
    margin-right: px;
    position: relative;
}

.mylead::after{
    content: '';
    position: absolute;
    width: 30%;
    height: 2px;
    bottom: -10px;
    left: 0px;
    background: #000; 
}
.mylead:hover{
    transform: translate3d(5px, 0 ,0 );
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}


.caption {
    position: absolute;
    top: 60%;
    left: 0px;
    width: 100%;
    padding: 15px;
}

.last{
    position: absolute;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
}

.happiness {
  margin: auto;
  font-size: 20px;
  padding: 5px;
  padding-bottom: 0px;
  border: 2px solid #000;
  width: 77%;
  width: 66%;
  margin-top: 40px;
  margin-bottom: 40px;
  opacity: 1;
}



/*position*/
.pos-relative{
  position: relative;
}

.pos-absolute-center{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.pos-absolute-t40-l40{
  position: absolute;
  text-align: center;
  padding-top: 10px;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}


.pos-absolute-t50-l20{
  position: absolute;
  text-align: center;
  padding-top: 10px;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
}


/*Images */

.box-shadow:hover {
  position: relative;
  -moz-box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.15);
  box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.15);
  background: white;
  color: #007bff;
  opacity: 0.8;
}

.img-center {
    display: block;
    margin: 0 auto;
}

/*line*/
.line-b-w15{
  border-bottom: 1px solid black;
  width: 15%;
  margin-left: 45%;
  padding: 3px;
}

.line-b-w30{
  border-top: 1px solid black;
  width: 30%;
  margin-left: 35%;
  padding: 3px;
  opacity: 0.3;
}

.line-wrap {
    margin-right: px;
    position: relative;
}
.line-wrap::before{
    content: '';
    position: absolute;
    width: 30%;
    height: 2px;
    top: 50%;
    left: -40%;
    background: #000; 
    opacity: 0.3;
}
.line-wrap::after{
    content: '';
    position: absolute;
    width: 30%;
    height: 2px;
    top: 50%;
    right: -40%;
    background: #000; 
    opacity: 0.3;
}


/* background  color*/



/* dots */
.smalldot { background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgo8cmVjdCB3aWR0aD0nNScgaGVpZ2h0PSc1JyBmaWxsPScjZmZmJy8+CjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIGZpbGw9JyNjY2MnLz4KPC9zdmc+"); background-repeat: repeat; }






.img-grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.img-grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 150px;
	max-width: 680px;
	max-height: 560px;
	width: 70%;
	background: #000;
	text-align: center;
	cursor: pointer;
}

.img-grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.img-grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.img-grid figure figcaption::before,
.img-grid figure figcaption::after {
	pointer-events: none;
}

.img-grid figure figcaption,
.img-grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.img-grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.img-grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.img-grid figure h2 span {
	font-weight: 800;
}

.img-grid figure h3 {
	word-spacing: -0.15em;
	font-weight: 200;
}

.img-grid figure h3 span {
	font-weight: 500;
}


.img-grid figure h5 {
	word-spacing: -0.15em;
	font-weight: 100;
}

.img-grid figure h5 span {
	font-weight: 2500;
}

.img-grid figure h2,
.img-grid figure h3,
.img-grid figure h5,
.img-grid figure p {
	margin: 0;
}

.img-grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}



/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
	background: #555;
}

figure.effect-bubba img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 1;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 4%;
	right: 4%;
	bottom: 4%;
	left: 4%;
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;

}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}

figure.effect-bubba h2 {
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
	padding: 20px 2.5em;
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 0;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 0;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}




/*---------------*/
/***** Honey *****/
/*---------------*/

figure.effect-honey {
	background: #fff;
}

figure.effect-honey img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-honey:hover img {
	opacity: 0.7;
}

figure.effect-honey figcaption::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background: #007bff;
	content: '';
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-honey h2,
figure.effect-honey h3 {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1em 1.5em;
	width: 100%;
	text-align: left;
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-honey h2,
figure.effect-honey h3 i {
	font-style: normal;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-honey figcaption::before,
figure.effect-honey h2,
figure.effect-honey h3 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2,
figure.effect-honey:hover h3,
figure.effect-honey:hover h2 i,
figure.effect-honey:hover h3 i {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/*---------------*/
/***** Zoe *****/
/*---------------*/

figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 50%;
	background: #eee;
	color: #000;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	opacity: 0.7;
}

figure.effect-zoe h2 {
	float: left;
}

figure.effect-zoe p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
	color: #252d31;
}

figure.effect-zoe p.description {
	position: absolute;
	bottom: 8em;
	padding: 2em;
	color: #fff;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a span::before {
	display: inline-block;
	padding: 8px 10px;
	font-family: 'feathericons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
	content: '\e000';
}

.icon-paper-clip::before {
	content: '\e001';
}

.icon-heart::before {
	content: '\e024';
}

figure.effect-zoe h2 {
	display: inline-block;
}

figure.effect-zoe:hover p.description {
	opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}



/*---------------*/
/***** Marley *****/
/*---------------*/

figure.effect-marley figcaption {
	text-align: right;
}

figure.effect-marley h2,
figure.effect-marley p {
	position: absolute;
	right: 30px;
	left: 30px;
	padding: 10px 0;
}


figure.effect-marley p {
	bottom: 30px;
	line-height: 1.5;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-marley h2 {
	top: 30px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-marley:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-marley h2::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-marley h2::after,
figure.effect-marley p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-marley:hover h2::after,
figure.effect-marley:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sadie h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;

	color: #fff;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie h5,
figure.effect-sadie p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie h5,
figure.effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 1;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover h5,
figure.effect-sadie:hover p {
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}



/*---------------*/
/***** Chico *****/
/*---------------*/

figure.effect-chico img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

figure.effect-chico:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-chico figcaption {
	padding: 3em;
}

figure.effect-chico figcaption::before {
	position: absolute;
	top: 3%;
	right: 3%;
	bottom: 3%;
	left: 3%;
	border: 1px solid #BC8133;
	content: '';
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-chico figcaption::before{
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect-chico p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico h2 {
	padding: 20% 0 20px 0;
}

figure.effect-chico p {
	margin: 0 auto;
	max-width: 200px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
	opacity: 1;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


