
@import 'tailwindcss/base';
@import 'tailwindcss/components';


@import './customized';

/* Designer 1  */
@import './designer1';

@import 'tailwindcss/utilities';



@layer utilities {
	.dropdown:hover .dropdown-menu {
	  display: block;
	  @apply rounded-sm border border-gray-500 shadow-lg bg-white z-40
	}

	.show{
		display: block;
	}

	.flex-center{
		@apply flex justify-center
	}


	.btn {
		@apply font-bold py-2 px-4 rounded
	}
	.btn-primary {
		@apply bg-blue-400 text-white;
	}
	.btn-primary:hover {
		@apply bg-blue-500;
	}

	.btn-outline {
		@apply border border-gray-500
	}

	.btn-outline:hover {
		@apply border-b-2 border-gray-500 text-white bg-gray-300
	}

	.btn-active {
		@apply text-white bg-gray-400
	}


	.btn-yellow {
		@apply bg-yellow-400 text-white;
	}
	.btn-yellow:hover {
		@apply bg-yellow-500;
	}

	.btn-success {
		@apply bg-green-400 text-white;
	}
	.btn-success:hover {
		@apply bg-green-500;
	}

	.input {
		@apply bg-white border border-gray-300 rounded-lg py-2 px-4 appearance-none leading-normal
	}
	.input:focus {
		@apply outline-none 
	}
	.label{
		@apply block text-gray-700 text-sm font-bold mb-2
	}

	.box{
		@apply border border-gray-300
	}

	.message-body{
		@apply border border-gray-300 bg-blue-100 p-12 rounded-lg
	}

	.is-striped{
		@border-b border-gray-300
	}

	.nav-link{
		@apply inline-block border-l border-t border-r rounded-t py-2 px-4 text-gray-700 font-semibold
	}


	.modal-mask{
	  @apply relative flex justify-center items-center
	}

	.modal-button{
	  @apply fixed inset-0 h-full w-full bg-black opacity-50 cursor-default
	}

	.modal-wrapper{
		@apply fixed z-50 bg-white top-0 m-2 mt-40 max-w-xl rounded-lg 
	}

	.modal-header{
		@apply flex justify-end p-1
	}
	.modal-body{
		@apply overflow-y-auto
	}

	.close{
		@apply text-2xl font-light p-1
	}

	.tag{
		@apply border rounded-lg text-white bg-green-400 m-1 p-1
	}
	.select{
		@apply block appearance-none w-full bg-white border border-gray-400 px-4 py-2 pr-8 rounded shadow leading-tight 
	}

	#wrap{
	    height: 2px;
	    background: black;
	    background: -webkit-gradient(linear, 0 0, 100% 0, from(#3D3D3D), to(#3D3D3D), color-stop(50%, white));
	}

	.draggable-main {
	    grid-area: main;
	    overflow-x: hidden;
	    overflow-y: hidden;
	}

	.draggable-items {
	    position: relative;
	    width: 100%;
	    overflow-x: hidden;
	    overflow-y: hidden;
	    white-space: nowrap;
	    transition: all 0.2s;
	    transform: scale(0.98);
	    will-change: transform;
	    user-select: none;
	    cursor: pointer;
	}

	.draggable-items.active {
	    background: rgba(255,255,255,0.3);
	    cursor: grabbing;
	    cursor: -webkit-grabbing;
	    transform: scale(1);
	}

	.draggable-item {
	    display: inline-block;
	}


	/* Designer 1  */
	
    a.active {
        @apply text-gold;
    }
    .diamond-detail-language a.active {
        @apply text-brown;
    }
    .navbar a:hover {
        @apply text-gold border-b-4 border-gold pb-2;
    }
    .navbar a.active {
        @apply text-gold border-b-4 border-gold pb-2;
    }
    .diamond-details.navbar a:hover {
        @apply text-brown border-b-2 border-brown pb-0;
    }
    .diamond-details.navbar a.dd-link:hover {
        @apply text-brown border-none pb-0;
    }
    .diamond-details.navbar a.active {
        @apply text-brown border-b-2 border-brown pb-0;
    }
    footer a:hover {
        @apply border-b font-bold transition border-white pb-0.5;
    }
    .bg-golden-white {
        height: 0.05rem;
        background: linear-gradient(90deg, #FFF8A5 0%, #FDE67E 3.2%, #E9C765 6.97%, #D2A44A 11.93%, #C9973F 14.6%, #DCB456 26.03%, #FDE67E 42.78%, #FDE67E 52.98%, #F3D671 57.02%, #DCB456 67.14%, #CE9F45 75.48%, #C9973F 80.94%, #DCB456 87.02%, #FDE67E 95.94%, #FEF093 98.11%, #FFF7A0 100%);
    }

}