
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/*@import './customized';*/

@import 'tailwindcss/utilities';

body, html {
    scroll-behavior: smooth;
}
.hero-image {
/*    background: url('../assets/images/hero-image.jpg') no-repeat;
*/    background-size: 100%;
}
.product-card {
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
.product-card .divide-gold div:before  {
    content: '';
    position: absolute;
    top: 40%;
    right: -6px;
    width: 5px;
    height: 5px;
    background: #D2B06F;
    transform: rotate(-45deg);
    border: 3px solid white;
    box-sizing: content-box;
    z-index: 10;
}
.product-card .divide-gold div:last-child::before {
    content: '';
    width: 0px;
    height: 0px;
    display: none;
}

@media only screen and (max-width: 640px) {
    .hero-image {
/*        background: url('../assets/images/hero-image-mobile.png') no-repeat;
*/        background-size: 100%;
    }
    .product-card .divide-gold div:before  {
        top: auto;
        bottom: -17%;
        right: 46%;
    }
}

@layer utilities {
	.dropdown:hover .dropdown-menu {
	  display: block;
	  @apply rounded-sm border border-gray-500 shadow-lg bg-white z-40
	}

	.show{
		display: block;
	}

	.flex-center{
		@apply flex justify-center
	}


	.btn {
		@apply font-bold py-2 px-4 rounded
	}
	.btn-primary {
		@apply bg-blue-400 text-white;
	}
	.btn-primary:hover {
		@apply bg-blue-500;
	}

	.btn-outline {
		@apply border border-gray-500
	}

	.btn-outline:hover {
		@apply border-b-2 border-gray-500 text-white bg-gray-300
	}

	.btn-active {
		@apply text-white bg-gray-400
	}


	.btn-yellow {
		@apply bg-yellow-400 text-white;
	}
	.btn-yellow:hover {
		@apply bg-yellow-500;
	}

	.btn-success {
		@apply bg-green-400 text-white;
	}
	.btn-success:hover {
		@apply bg-green-500;
	}

	.input {
		@apply bg-white border border-gray-300 rounded-lg py-2 px-4 appearance-none leading-normal
	}
	.input:focus {
		@apply outline-none 
	}
	.label{
		@apply block text-gray-700 text-sm font-bold mb-2
	}

	.box{
		@apply border border-gray-300
	}

	.message-body{
		@apply border border-gray-300 bg-blue-100 p-12 rounded-lg
	}

	.is-striped{
		@border-b border-gray-300
	}

	.nav-link{
		@apply inline-block border-l border-t border-r rounded-t py-2 px-4 text-gray-700 font-semibold
	}


	.modal-mask{
	  @apply relative flex justify-center items-center
	}

	.modal-button{
	  @apply fixed inset-0 h-full w-full bg-black opacity-50 cursor-default
	}

	.modal-wrapper{
		@apply fixed z-50 bg-white top-0 m-2 mt-40 max-w-xl rounded-lg 
	}

	.modal-header{
		@apply flex justify-end p-1
	}
	.modal-body{
		@apply overflow-y-auto
	}

	.close{
		@apply text-2xl font-light p-1
	}

	.tag{
		@apply border rounded-lg text-white bg-green-400 m-1 p-1
	}
	.select{
		@apply block appearance-none w-full bg-white border border-gray-400 px-4 py-2 pr-8 rounded shadow leading-tight 
	}

	#wrap{
	    height: 2px;
	    background: black;
	    background: -webkit-gradient(linear, 0 0, 100% 0, from(#3D3D3D), to(#3D3D3D), color-stop(50%, white));
	}

	.draggable-main {
	    grid-area: main;
	    overflow-x: hidden;
	    overflow-y: hidden;
	}

	.draggable-items {
	    position: relative;
	    width: 100%;
	    overflow-x: hidden;
	    overflow-y: hidden;
	    white-space: nowrap;
	    transition: all 0.2s;
	    transform: scale(0.98);
	    will-change: transform;
	    user-select: none;
	    cursor: pointer;
	}

	.draggable-items.active {
	    background: rgba(255,255,255,0.3);
	    cursor: grabbing;
	    cursor: -webkit-grabbing;
	    transform: scale(1);
	}

	.draggable-item {
	    display: inline-block;
	}

	a.active {
        @apply text-gold;
    }
    .navbar a:hover {
        @apply text-gold border-b-4 border-gold pb-2;
    }
    .navbar a.active {
        @apply text-gold border-b-4 border-gold pb-2;
    }
    footer a:hover {
        @apply border-b font-bold transition border-white pb-0.5;
    }

}