*.sticker {
  top:90%;
  height:50px;
  width:50px;
  position:fixed;
  right: 0;
  z-index: 999;
}


#site-header {
position: fixed;
height: 52px;
background: #fff;
top: 0;
width: 100%;
z-index: 100;
transition: all .4s ease;
box-shadow: 0px 15px 5px -15px rgba(0,0,0, .1);    
}
#site-header.hide {
    top: -65px;
    bottom: +65px;
}

/**/
@media only screen and (min-width: 992px) {
    #td-header {
    position: fixed;
    height: 210px;
    background: #fff;
    top: 0px;
    width: 100%;
    z-index: 100;
    transition: all .3s ease;
    }
    #td-header.shorter {
        height: 80px;
    }
    #td-header.hide {
        top: -610px;
        bottom: +610px;
    }


}

@media only screen and (max-width: 991px) {
    #td-header {
    position: fixed;
    height: 65px;
    background: #fff;
    top: 0px;
    width: 100%;
    z-index: 100;
    transition: all .4s ease;
    }
    #td-header.hide {
        top: -65px;
        bottom: +65px;
    }

}


/*Edited from designer*/

.dropdown-item .dropdown {
    display: none;
}
.dropdown-item:hover .dropdown {
    @apply flex flex-col w-full z-20 absolute top-14 left-0;
}
.dropdown-item .dropdown .dropdown-divider{
    @apply h-8 mt-4 bg-white
}
.dropdown-item .dropdown .dropdown-detail{
    @apply bg-white w-full;
}


/*shopping cart - progress bar*/


