*.sticker {
  top:90%;
  height:50px;
  width:50px;
  position:fixed;
  right: 0;
  z-index: 999;
}


#site-header {
position: fixed;
height: 52px;
background: #fff;
top: 0;
width: 100%;
z-index: 100;
transition: all .4s ease;
box-shadow: 0px 15px 5px -15px rgba(0,0,0, .1);    
}
#site-header.hide {
    top: -65px;
    bottom: +65px;
}

/**/
@media only screen and (min-width: 992px) {
    #td-header {
    position: fixed;
    height: 210px;
    background: #fff;
    top: 0px;
    width: 100%;
    z-index: 100;
    transition: all .3s ease;
    }
    #td-header.shorter {
        height: 80px;
    }
    #td-header.hide {
        top: -210px;
        bottom: +210px;
    }

    .shadow-bottom{
    box-shadow: 0px 15px 5px -15px rgba(0,0,0, .1);    
    }
}

@media only screen and (max-width: 991px) {
    #td-header {
    position: fixed;
    height: 65px;
    background: #fff;
    top: 0px;
    width: 100%;
    z-index: 100;
    transition: all .4s ease;
    }
    #td-header.hide {
        top: -65px;
        bottom: +65px;
    }

    .shadow-bottom{
    box-shadow: 0px 15px 5px -15px rgba(0,0,0, .1);    
    }
}
