*.sticker {
  top:90%;
  height:50px;
  width:50px;
  position:fixed;
  right: 0;
  z-index: 40;
}


#site-header {
position: fixed;
height: 52px;
background: #fff;
top: 0;
width: 100%;
transition: all .4s ease;
box-shadow: 0px 15px 5px -15px rgba(0,0,0, .1);    
}
#site-header.hide {
    top: -65px;
    bottom: +65px;
}

/**/
@media only screen and (min-width: 992px) {
    #td-header {
    position: fixed;
    height: 210px;
    background: #fff;
    top: 0px;
    width: 100%;
    transition: all .3s ease;
    }
    #td-header.shorter {
        height: 80px;
    }
    #td-header.hide {
        top: -610px;
        bottom: +610px;
    }


}

@media only screen and (max-width: 991px) {
    #td-header {
    position: fixed;
    height: 65px;
    background: #fff;
    top: 0px;
    width: 100%;
    transition: all .4s ease;
    }
    #td-header.hide {
        top: -65px;
        bottom: +65px;
    }

}


/*Edited from designer*/

.dropdown-item .dropdown {
    display: none;
}
.dropdown-item:hover .dropdown {
    @apply flex flex-col w-full z-20 absolute top-14 left-0;
}
.dropdown-item .dropdown .dropdown-divider{
    @apply h-8 mt-4 bg-white
}
.dropdown-item .dropdown .dropdown-detail{
    @apply bg-white w-full;
}

/*shopping cart - progress bar*/
.progress-bar-line{
   @apply absolute inset-0 flex items-center;
}
.progress-bar-line .line{
   @apply h-0.5 w-full bg-gold bg-opacity-80;
}
.progress-bar-line .active{
   @apply h-1.5 md:h-3 bg-opacity-100;
}

#progress-bar-quare{
   @apply relative w-8 h-8 z-10 bg-white border-2 border-gold transform rotate-45 flex items-center justify-center;
}
#progress-bar-quare.active{
   @apply bg-gold border-white;
}
#progress-bar-quare span{
   @apply text-xl font-suranna text-gold transform -rotate-45;
}
#progress-bar-quare span.active{
   @apply text-white;
}

.shopping-bar-box{
    @apply border-2 border-dashed rounded flex items-center justify-center h-20 w-20;
}

.filter-shadow{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.hidden-item-hover .hidden-item {
    display: none;
}
.hidden-item-hover:hover .hidden-item {
    @apply flex ;
}

.hidden-item-hover .hidden-item-keep {
    @apply flex ;
}
.hidden-item-hover:hover .hidden-item-keep {
    display: none;
}
