body, html {
    scroll-behavior: smooth;
}
.hero-image {
    background: url('/assets/images/hero-image.jpg') no-repeat;
    background-size: 100%;
}
.diamond.hero-image {
    background: url('/assets/images/hero-image-diamond.jpg') no-repeat;
    background-size: 100% 100%;
}
.jewellary-wedding-rings.hero-image {
    background: url('/assets/images/hero-image-jewellary-wedding-rings.jpg') no-repeat;
    background-size: 100% 100%;
}
.jewellery.hero-image {
    background: url('/assets/images/hero-image-jewellery.jpg') no-repeat;
    background-size: 100% 100%;
}
.customer-jewellery.hero-image {
    background: url('/assets/images/hero-image-custoemr-jewellary.jpg') no-repeat;
    background-size: 100% 100%;
}
.product-card {
    background: #ffffff;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
.product-card .divide-gold div:before, .product-card .vertical.divide-gold div:before  {
    content: '';
    position: absolute;
    top: 40%;
    right: -6px;
    width: 5px;
    height: 5px;
    background: #D2B06F;
    transform: rotate(-45deg);
    border: 3px solid white;
    box-sizing: content-box;
    z-index: 10;
}
.product-card .divide-gold div:last-child::before, .product-card .vertical.divide-gold div:last-child::before {
    content: '';
    width: 0px;
    height: 0px;
    display: none;
}
.product-card.horizontal {
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.05);
    border-radius: 0px !important;
}
.product-card.diamond {
    border-radius: 0px !important;
}
.product-card.horizontal .divide-gold div:before  {
    top: auto !important;
    bottom: -17% !important;
    right: 46% !important;
}
.range-slider-thumb {
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
}
.dropdown-item .dropdown {
    @apply flex-col w-full bg-white z-40 absolute top-16 left-0;
    display: none;
}
.dropdown-item:hover .dropdown {
    @apply flex;
}
@media only screen and (max-width: 640px) {
    .hero-image {
        background: url('/assets/images/hero-image-mobile.png') no-repeat;
        background-size: 100%;
    }
    .product-card .divide-gold div:before  {
        top: auto;
        bottom: -17%;
        right: 46%;
    }
}

input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
  /* @apply w-6 h-6 appearance-none pointer-events-auto; */
}

.scroll-gallery::-webkit-scrollbar{
    height:5px!important;
    overflow:hidden;
}
.scroll-gallery::-webkit-scrollbar-track{
    background:0 0;
}
.scroll-gallery::-webkit-scrollbar-thumb{
    border-radius: 100px;
    @apply bg-grey-lighter;
}
.scroll-gallery.vertical::-webkit-scrollbar{
    width:5px!important;
    overflow:hidden;
}
@media only screen and (min-width: 768px) {
    .wedding-ring-wrapper {
        width: 105px !important;
        height: 100px !important;
        @apply flex items-center justify-between;
    }
}
.wedding-ring-wrapper > div {
    @apply w-full;
}
select {
    background-color: white; 
}
select.custom-select
{
 background-color: white;
 border-radius: 0% !important;
}
select.custom-select *
{
 background-color: white;
 border-radius: 0% !important;
}
select.custom-select *:hover
{
 @apply bg-grey-01;
}
.tracking-card {
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}