@tailwind base;

@tailwind components;

.dropdown:hover .dropdown-menu {
  display: block;
  @apply rounded-sm border border-gray-500 shadow-lg bg-white z-40
}

.show{
	display: block;
}

.flex-center{
	@apply flex justify-center
}


.btn {
	@apply font-bold py-2 px-4 rounded
}
.btn-primary {
	@apply bg-blue-500 text-white;
}
.btn-primary:hover {
	@apply bg-blue-700;
}

.btn-outline {
	@apply border border-gray-500
}

.btn-outline:hover {
	@apply border border-gray-500 text-white bg-gray-500
}

.btn-active {
	@apply text-white bg-gray-400
}


.btn-yellow {
	@apply bg-yellow-600 text-white;
}
.btn-yellow:hover {
	@apply bg-yellow-700;
}

.input {
	@apply bg-white border border-gray-300 rounded-lg py-2 px-4 appearance-none leading-normal
}
.input:focus {
	@apply outline-none shadow-outline 
}
.label{
	@apply block text-gray-700 text-sm font-bold mb-2
}

.box{
	@apply border border-gray-300
}

.message-body{
	@apply border border-gray-300 bg-blue-100 p-12 rounded-lg
}

.is-striped{
	@border-b border-gray-300
}

.nav-link{
	@apply bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-gray-700 font-semibold
}


.modal-mask{
  @apply relative flex justify-center items-center
}

.modal-button{
  @apply fixed inset-0 h-full w-full bg-black opacity-50 cursor-default
}

.modal-wrapper{
	@apply fixed z-20 bg-white top-0 m-12 mt-40 max-w-xl rounded-lg 
}

.modal-header{
	@apply flex justify-end p-1
}

.close{
	@apply text-2xl font-light p-1
}

.tag{
	@apply border rounded-lg text-white bg-green-400 m-1 p-1
}
.select{
	@apply block appearance-none w-full bg-white border border-gray-400 px-4 py-2 pr-8 rounded shadow leading-tight 
}

#wrap{
    height: 2px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#3D3D3D), to(#3D3D3D), color-stop(50%, white));
}




@tailwind utilities;